 .box1{
     height: 100px;
     width: 100px;
     background-color: navy;
     margin: 5rem;
 }
  .box2{
     height: 100px;
     width: 100px;
     background-color: navy;
     margin: 5rem;
 }